# Analyzing and Interpreting Data

In [7]:
import numpy as np
import random
import seaborn as sns
import pandas as pd
import os
import re
%load_ext autoreload
%autoreload 2

ModuleNotFoundError: No module named 'seaborn'

The dataframe we will use is the following:

In [5]:
final_data = pd.read_csv('final_data.csv', encoding ='latin1')
final_data.sample(10)

      Unnamed: 0       Dates    Country  Month_Day  Season  Attack
1234        1236  20080711.0        USA      711.0  Summer    1237
1837        1839  20020805.0        USA      805.0  Summer    1840
5309        5332  19140926.0    JAMAICA      926.0  Summer    5333
208          209  20161002.0        USA     1002.0     Nan     210
1539        1541  20051006.0        USA     1006.0     Nan    1542
1925        1927  20010804.0    BAHAMAS      804.0  Summer    1928
5481        5506  19040800.0       CUBA      800.0  Summer    5507
2274        2276  19961005.0        USA     1005.0     Nan    2277
4674        4690  19421226.0  AUSTRALIA     1226.0    Fall    4691
4790        4810  19380818.0        USA      818.0  Summer    4811

Two different graphs that help validate our hypothesis:

Graph 1:

In this barchart we show the number of attacks in each season.

In [6]:
sns.countplot(x=final_data.Season, palette="Blues")

NameError: name 'sns' is not defined

We can see the number of attacks is / is not related to the different seasons. So next time you go for a swim dont/do worry if its winter, cos you might get eaten by a shark.

Graph 2:

In this scatterplot we show the number of attacks during a timeline separating the seasons.

In [ ]:
sns.scatterplot(x="Dates", y="Attack", hue="Season", data=final_data)

Thanks to the scatterplot we can visualize if the number of attacks during the different seasons has a similar representation along the timeline.

Final Conclusion:

Our results cannot be taken as conclusive as there is a data that we have not taken into accountthat would have been crutial to check our hypthosis: 
  - Creating a new column of "northern hemisphere and southern hemisphere" for each attack. This was necessary as it would have allowed as to adapt de season to each hemisphere takin into account, that when summer in northern hemisphere it is winter in southern hemisphere. 
  
Although our results are incomplete, this project will help future interested shark experts to complete the dataframe and do a complete analysis.